
<app-layout>


  <section  header class="section-hero overlay inner-page bg-image" style="background-image: url('assets/images/hero_1.jpg');" id="home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 class="text-white font-weight-bold">Authentification</h1>

        </div>
      </div>
    </div>
  </section>

  <div body class="row col-12">

    <div class="col-3"></div>
    <div class="mr-5 ml-5 p-4 border rounded col-6" >

      <div class="row form-group">
        <div class="col-md-12 mb-3 mb-md-0">
          <label class="text-black" >Email</label>
          <input type="email" class="form-control" placeholder="Email" email #mail="ngModel" [(ngModel)]="user.email" required>
        </div>
      </div>
      <div class="row form-group mb-4">
        <div class="col-md-12 mb-3 mb-md-0">
          <label class="text-black" >Mot de passe</label>
          <input type="password" class="form-control" placeholder="Mot de passe" [(ngModel)]="user.password" #password="ngModel" required>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-12">
          <button  class="btn px-4 btn-primary text-white float-right"  [disabled]="mail.invalid || password.invalid" (click)="authenticate()">
         Se connecter
          </button>
        </div>
      </div>

    </div>
  </div>


</app-layout>



