<app-layout>


  <section header class="section-hero overlay inner-page bg-image"
           style="background-image: url('assets/images/hero_1.jpg');" id="home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 class="text-white font-weight-bold">Inscription</h1>

        </div>
      </div>
    </div>
  </section>

  <div body class="col-12">
    <div class="row">
      <div class="col-6">
        <h2 class="mb-4">Inscription Société</h2>
        <form class="p-4 border rounded" #f="ngForm" (ngSubmit)="f.form.valid && registerSociete()">

          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" >Raison sociale</label>
              <input type="text"
                     class="form-control {{f.submitted && raisonSocial.invalid?'is-invalid' : '' }}"
                     placeholder="Raison Sociale" [(ngModel)]="societe.raisonSocial"
                     name="raisonSocial" #raisonSocial="ngModel" required>
              <div class="invalid-feedback"> Raison Sociale est obligatoire.</div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" >Matricule fiscale</label>
              <input type="text" class="form-control {{f.submitted && matriculeFiscal.invalid?'is-invalid' : '' }}"
                     placeholder="Matricule fiscale" [(ngModel)]="societe.matriculeFiscal"
                     #matriculeFiscal="ngModel"
                     name="matriculeFiscal" required>
              <div class="invalid-feedback"> Matricule fiscale est obligatoire.</div>
            </div>
          </div>
          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" >Registre de commerce</label>
              <input type="text"
                     placeholder="Registre de commerce"
                     class="form-control {{f.submitted && registreCommerce.invalid?'is-invalid' : '' }}"
                     [(ngModel)]="societe.registreCommerce" name="registreCommerce"
                     #registreCommerce="ngModel" required>
              <div class="invalid-feedback"> Registre de commerce obligatoire.</div>
            </div>
          </div>




          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" >Téléphone</label>
              <input type="text"
                     pKeyFilter="pint"
                     class="form-control {{f.submitted && telephone.invalid?'is-invalid' : '' }}"
                     placeholder="Téléphone"
                     minlength="8"
                     maxlength="8"
                     [(ngModel)]="societe.telephone" name="telephone"
                     #telephone="ngModel" required>
              <div class="invalid-feedback" *ngIf="f.submitted && telephone.invalid">
                <div *ngIf="telephone?.errors['required']">
                  Téléphone est obligatoire.
                </div>
                <div *ngIf="telephone?.errors['minlength']">
                  Téléphone doit contenir 8 chiffres.
                </div>
              </div>
            </div>
          </div>


          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" >Pays</label>
              <select
                class="form-control {{f.submitted && pays.invalid?'is-invalid' : '' }}"
                [(ngModel)]="selectedCountry" (ngModelChange)="getVillesByPays(selectedCountry.id)" name="country" #pays="ngModel"
                required>
                <option [ngValue]="count" *ngFor="let count of countries ">{{count.libelle}}</option>
              </select>
              <div class="invalid-feedback"> Pays est obligatoire.</div>
            </div>
          </div>


          <div class="row form-group mb-4" *ngIf="selectedCountry">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" >Ville</label>
              <select
                class="form-control {{f.submitted && ville.invalid?'is-invalid' : '' }}"
                [(ngModel)]="societe.ville" name="ville" #ville="ngModel" required>
                <option [ngValue]="vil" *ngFor="let vil of villes ">{{vil.libelle}}</option>
              </select>
              <div class="invalid-feedback"> Ville est obligatoire.</div>
            </div>
          </div>

          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" >Adresse</label>
              <input type="text" class="form-control {{f1.submitted && adresse.invalid?'is-invalid' : '' }}"
                     placeholder="Adresse" [(ngModel)]="societe.addresse"
                     #adresse="ngModel"
                     name="addresse" required>
              <div class="invalid-feedback"> Adresse est obligatoire.</div>
            </div>
          </div>

          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" >Taille société</label>
              <input type="text"
                     placeholder="Taille Société"
                     class="form-control "
                     [(ngModel)]="societe.taille" name="taille">
            </div>
          </div>


          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" >Site web</label>
              <input type="text"
                     placeholder="Site web"
                     class="form-control "
                     [(ngModel)]="societe.siteWeb" name="siteWeb">
            </div>
          </div>





          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" >Email</label>
              <input type="text"
                     class="form-control  {{f.submitted && mail.invalid?'is-invalid' : '' }}"
                     placeholder="Email" name="email"
                     [(ngModel)]="societe.email" #mail="ngModel"
                     required email>

              <div class="invalid-feedback" *ngIf="f.submitted && mail.invalid">
                <div *ngIf="mail?.errors['required']">
                  Email est obligatoire.
                </div>
                <div *ngIf="mail?.errors['email']">
                  Email invalid.
                </div>
              </div>
            </div>
          </div>

          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" >Mot de passe</label>
              <input type="password" class="form-control  {{f.submitted && password.invalid?'is-invalid' : '' }}"
                     placeholder="Mot de passe"  required
                     name="password" #password="ngModel" [(ngModel)]="societe.password"

                     required>
              <div class="invalid-feedback"> Mot de passe est obligatoire.</div>
            </div>
          </div>



          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" >Confirmer Mot de passe</label>
              <input type="password" class="form-control  {{f.submitted && password2.invalid?'is-invalid' : '' }}"
                     placeholder="Confirmer Mot de passe"
                     name="password2" #password2="ngModel" [(ngModel)]="confirmPassword2"
                     [pattern]="societe.password"
                     required>
              <div class="invalid-feedback" *ngIf="f.submitted && password2.invalid">
                <div *ngIf="password2?.errors['required']">
                  Confirmer mot de passe est obligatoire.
                </div>
                <div *ngIf="password2?.errors['pattern']">
                  Les mot de passe ne sont pas identiques.
                </div>
              </div>
            </div>
          </div>


          <div class="row form-group">
            <div class="col-md-12">
              <input type="submit" value="S'inscrir" class="btn px-4 btn-primary text-white float-right">
            </div>
          </div>

        </form>
      </div>
      <div class="col-6">
        <h2 class="mb-4">Inscription candidat</h2>
        <form #f1="ngForm" (ngSubmit)="f1. form. valid && registerCandidat()" class="p-4 border rounded">

          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black">Nom</label>
              <input type="text"
                     class="form-control {{f1.submitted && nom.invalid?'is-invalid' : '' }}"
                     placeholder="Nom" [(ngModel)]="candidat.nom" name="nom" #nom="ngModel" required>
              <div class="invalid-feedback"> Nom est obligatoire.</div>
            </div>
          </div>
          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black">Prénom</label>
              <input type="text" class="form-control  {{f1.submitted && prenom.invalid?'is-invalid' : '' }}"
                     placeholder="Prénom" [(ngModel)]="candidat.prenom" #prenom="ngModel" name="prenom" required>
              <div class="invalid-feedback"> Prénom est obligatoire.</div>
            </div>
          </div>


          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black">Date de naissance</label>
              <input type="date"
                     class="form-control {{f1.submitted && dateNaissance.invalid?'is-invalid' : '' }}"
                     [(ngModel)]="candidat.dateNaissance" name="dateNaissance"
                     #dateNaissance="ngModel" required>
              <div class="invalid-feedback"> Date de naissance obligatoire.</div>
            </div>
          </div>

          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black">Téléphone</label>
              <input type="text"
                     pKeyFilter="pint"
                     class="form-control {{f1.submitted && telephone.invalid?'is-invalid' : '' }}"
                     placeholder="Téléphone"
                     minlength="8"
                     maxlength="8"
                     [(ngModel)]="candidat.telephone" name="telephone"
                     #telephone="ngModel" required>
              <div class="invalid-feedback" *ngIf="f1.submitted && telephone.invalid">
                <div *ngIf="telephone?.errors['required']">
                  Téléphone est obligatoire.
                </div>
                <div *ngIf="telephone?.errors['minlength']">
                  Téléphone doit contenir 8 chiffres.
                </div>
              </div>
            </div>
          </div>


          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black">Pays</label>
              <select
                class="form-control {{f1.submitted && pays.invalid?'is-invalid' : '' }}"
                [(ngModel)]="country" (ngModelChange)="getVillesByPays(country.id)" name="country" #pays="ngModel"
                required>
                <option [ngValue]="count" *ngFor="let count of countries ">{{count.libelle}}</option>
              </select>
              <div class="invalid-feedback"> Pays est obligatoire.</div>
            </div>
          </div>


          <div class="row form-group mb-4" *ngIf="country">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black">Ville</label>
              <select
                class="form-control {{f1.submitted && ville.invalid?'is-invalid' : '' }}"
                [(ngModel)]="candidat.ville" name="ville" #ville="ngModel" required>
                <option [ngValue]="vil" *ngFor="let vil of villes ">{{vil.libelle}}</option>
              </select>
              <div class="invalid-feedback"> Ville est obligatoire.</div>
            </div>
          </div>
          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black">Adresse</label>
              <input type="text" class="form-control {{f1.submitted && adresse.invalid?'is-invalid' : '' }}"
                     placeholder="Adresse" [(ngModel)]="candidat.addresse"
                     #adresse="ngModel"
                     name="addresse" required>
              <div class="invalid-feedback"> Adresse est obligatoire.</div>
            </div>
          </div>


          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black">Email</label>
              <input type="text"
                     class="form-control  {{f1.submitted && mail.invalid?'is-invalid' : '' }}"
                     placeholder="Email" name="email"
                     [(ngModel)]="candidat.email" #mail="ngModel"
                     required email>

              <div class="invalid-feedback" *ngIf="f1.submitted && mail.invalid">
                <div *ngIf="mail?.errors['required']">
                  Email est obligatoire.
                </div>
                <div *ngIf="mail?.errors['email']">
                  Email invalid.
                </div>
            </div>
          </div>
          </div>


          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black">Mot de passe</label>
              <input type="password" class="form-control  {{f1.submitted && password.invalid?'is-invalid' : '' }}"
                     placeholder="Mot de passe"
                     name="password" #password="ngModel" [(ngModel)]="candidat.password"

                     required>
              <div class="invalid-feedback"> Mot de passe est obligatoire.</div>
            </div>
          </div>



          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black">Confirmer mot de passe</label>
              <input type="password" class="form-control  {{f1.submitted && password2.invalid?'is-invalid' : '' }}"
                     placeholder="Confirmer Mot de passe"
                     name="password2" #password2="ngModel" [(ngModel)]="confirmPassword"
                     [pattern]="candidat.password"
                     required>
              <div class="invalid-feedback" *ngIf="f1.submitted && password2.invalid">
                <div *ngIf="password2?.errors['required']">
                  Confirmer mot de passe est obligatoire.
                </div>
                <div *ngIf="password2?.errors['pattern']">
                  Les mot de passe ne sont pas identiques.
                </div>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <input type="submit" value="S'inscrir" class="btn px-4 btn-primary text-white float-right">
            </div>
          </div>

        </form>
      </div>
    </div>


  </div>
</app-layout>


<!--

<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">


              <form *ngIf="typeRegister === 'societe'" #f1="ngForm" (ngSubmit)="f1. form. valid && registerSociete()">
                <h1>Inscription</h1>
                <p class="text-muted">Créer votre compte</p>














                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control  {{f1.submitted && password.invalid?'is-invalid' : '' }}"
                         placeholder="Mot de passe"
                         name="password" #password="ngModel" [(ngModel)]="societe.password"

                         required>
                  <div class="invalid-feedback"> Mot de passe est obligatoire.</div>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>

                  <input type="password" class="form-control  {{f1.submitted && password2.invalid?'is-invalid' : '' }}"
                         placeholder="Confirmer Mot de passe"
                         name="password2" #password2="ngModel" [(ngModel)]="confirmPassword"
                         [pattern]="societe.password"
                         required>
                  <div class="invalid-feedback" *ngIf="f1.submitted && password2.invalid">
                    <div *ngIf="password2?.errors['required']">
                      Confirmer mot de passe est obligatoire.
                    </div>
                    <div *ngIf="password2?.errors['pattern']">
                      Les mot de passe ne sont pas identiques.
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-block btn-success">S'inscrir</button>
              </form>


            </div>
            <div class="card-footer p-4">
              <div class="row">
                <a routerLink="/login">Avez vous déjà compte?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
-->
