<form #f="ngForm" (ngSubmit)="f.form.valid && changePassword(f)">
<div class="card">
  <div class="card-body">

    <label>Ancien mot de passe</label>
    <div class="input-group mb-3">

      <div class="input-group-prepend">
        <span class="input-group-text"><i class="icon-lock2"></i></span>
      </div>
      <input type="password" class="form-control  {{f.submitted && password3.invalid?'is-invalid' : '' }}"
             placeholder="Ancien mot de passe"
             name="password3" #password3="ngModel" [(ngModel)]="passwordRequest.oldPassword"

             required>
      <div class="invalid-feedback"> Ancien mot de passe est obligatoire.</div>
    </div>


    <label>Nouveau mot de passe</label>
    <div class="input-group mb-3">

      <div class="input-group-prepend">
        <span class="input-group-text"><i class="icon-lock2"></i></span>
      </div>
      <input type="password" class="form-control  {{f.submitted && password.invalid?'is-invalid' : '' }}"
             placeholder="Nouveau mot de passe"
             name="password" #password="ngModel" [(ngModel)]="passwordRequest.newPassword"

             required>
      <div class="invalid-feedback"> Nouveau Mot de passe est obligatoire.</div>
    </div>

    <label>Confirmer mot de passe</label>
    <div class="input-group mb-4">

      <div class="input-group-prepend">
        <span class="input-group-text"><i class="icon-lock2"></i></span>
      </div>

      <input type="password" class="form-control  {{f.submitted && password2.invalid?'is-invalid' : '' }}"
             placeholder="Confirmer Mot de passe"
             name="password2" #password2="ngModel" [(ngModel)]="passwordRequest.confirmPassword"
             [pattern]="passwordRequest.newPassword"
             required>
      <div class="invalid-feedback" *ngIf="f.submitted && password2.invalid">
        <div *ngIf="password2?.errors['required']">
          Confirmer mot de passe est obligatoire.
        </div>
        <div *ngIf="password2?.errors['pattern']">
          Les mot de passe ne sont pas identiques.
        </div>
      </div>
    </div>


  </div>

  <div class="card-footer">
    <div class="row pull-right">
      <button class="btn btn-primary">Modifier</button>
    </div>
  </div>
</div>
</form>
