// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";
.p-checkbox {
  margin-bottom: 7px !important;
}

.p-scrollpanel {


  &.custombar1 {
    .p-scrollpanel-wrapper {
      border-right: 9px solid var(--layer-1) !important;
    }

    .p-scrollpanel-bar {
      background-color: gray !important;
      opacity: 1  !important;
      transition: background-color .2s  !important;

      &:hover {
        background-color: gray !important;
      }
    }
  }

}
