<div class="card">
  <div class="card-header">


    <div class="card-header-actions">
      <button (click)="clickAdd()" class="btn btn-success">
        <i class="fa fa-plus"></i>
        Nouvelle Experience
      </button>
    </div>
  </div>

  <div class="card-body">


    <p-table [value]="experiences" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          <th>Titre</th>
          <th>Société</th>
          <th>Type Poste</th>
          <th>Début</th>
          <th>Fin</th>
          <th width="12%">Action</th>

        </tr>
      </ng-template>
      <ng-template let-row pTemplate="body" let-expanded="expanded">
        <tr>
          <td>
            <button type="button"
                    pButton pRipple [pRowToggler]="row"
                    class="p-button-text p-button-rounded p-button-plain"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
            </button>
          </td>
          <td>{{row.titre}}</td>
          <td>{{row.societe}}</td>
          <td>{{row.typePoste.libelle}}</td>
          <td>{{row.debut | date: 'dd/MM/yyyy'}}</td>
          <td>{{row.fin | date: 'dd/MM/yyyy'}}</td>
          <td>

            <button (click)="delete($event, row.id)" class="p-button-rounded p-button-danger p-button-outlined" icon="pi pi-trash" pButton
                    pRipple
                    pTooltip="Supprimer"
                    tooltipPosition="top"
                    type="button"></button>

            <button (click)="clickEdit(row)" class="p-button-rounded p-button-warning p-button-outlined" icon="pi pi-pencil" pButton
                    pRipple
                    pTooltip="Editer"
                    tooltipPosition="top"
                    type="button"></button>


          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="rowexpansion" let-row>
        <tr>
          <td colspan="7">
            {{row.description}}
          </td>
        </tr>
      </ng-template>
    </p-table>


  </div>


</div>


<p-dialog [(visible)]="display" [baseZIndex]="10000" [breakpoints]="{'960px': '75vw'}" [draggable]="false"
          [modal]="true"
          [resizable]="false" [style]="{width: '50vw'}" header="Ville">

  <div class="form-group">
    <label>Titre</label>
    <input #titre="ngModel" [(ngModel)]="experience.titre" class="form-control" required>
  </div>


  <div class="form-group">
    <label>Société</label>
    <input #etab="ngModel" [(ngModel)]="experience.societe" class="form-control" required>
  </div>

  <div class="form-group">
    <label>Type Poste</label>
    <select #poste="ngModel" [compareWith]="compareFn"
            [(ngModel)]="experience.typePoste"
            class="form-control" required>
      <option *ngFor="let poste of typePostes" [ngValue]="poste">{{poste.libelle}}</option>
    </select>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <label>Début</label>
      <input #debut="ngModel" (change)="changeDate()"
             [(ngModel)]="experience.debut"
             class="form-control" required type="date">

    </div>


    <div class="col-sm-6">
      <label>Fin</label>
      <input #fin="ngModel" [(ngModel)]="experience.fin" [disabled]="!experience.debut"
             [min]="minDateFin"
             class="form-control" required type="date">

    </div>


  </div>

  <div class="form-group">
    <label>Déscription</label>
    <textarea [(ngModel)]="experience.description" class="form-control" >
      </textarea>
  </div>

  <ng-template pTemplate="footer">
    <button (click)="display=false" class="p-button-outlined p-button-danger" label="Annuler" pButton pRipple></button>
    <button (click)="add()" *ngIf="!experience.id" [disabled]="titre.invalid || etab.invalid || debut.invalid
             || fin.invalid || poste.invalid" class="p-button-info"
            label="Ajouter"
            pButton></button>

    <button (click)="update()" *ngIf="experience.id" [disabled]="titre.invalid || etab.invalid
            || debut.invalid
             || fin.invalid || poste.invalid" class="p-button-info"
            label="Modifier"
            pButton></button>
  </ng-template>
</p-dialog>
